variables:
  IMAGE_NAME: '$CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_SHORT_SHA'

stages:          
  - build
  - deploy

build-job:       
  stage: build
  before_script:
    - echo '$PASS' | docker login -u "$USER" --password-stdin "$CI_REGISTRY" 
  script:
    - docker build -t "$IMAGE_NAME"
    - docker push "$IMAGE_NAME"
  tags:
    - test

deploy-job:      
  stage: deploy  
  script:
    - docker pull $IMAGE_NAME"
    - docker run -d -p 8080:8080 $IMAGE_NAME"
