stages:
  - build
  - health_check
  - deploy

variables:
  APP_PORT: "8888"
  APP_URL: "http://localhost:$APP_PORT"


build_job:
  stage: build
  script:
    - echo "Устанавливаем зависимости для порта $APP_PORT..."
    - npm install  

check_port_job:
  stage: health_check
  script:
    - echo "Проверяем, не занят ли порт $APP_PORT..."
    - curl -s $APP_URL  echo "Порт свободен или сервис лежит — это нормально перед деплоем"

deploy_local_job:
  stage: deploy
  script:
    - echo "Обновляем приложение на $APP_URL..."
    - fuser -k $APP_PORT/tcp  true 
    - nohup npm start -- --port $APP_PORT > app.log 2>&1 &
    - sleep 5
    - curl -I $APP_URL | grep "200 OK"
  environment:
    name: local-dev
    url: http://localhost:8888
  only:
    - main