image: docker:24.0.5  

services:
  - docker:24.0.5-dind 

variables:
  DOCKER_TLS_CERTDIR: "/certs" 
  IMAGE_NAME: "$CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_SHORT_SHA"

stages:          
  - build
  - deploy

build-job:       
  stage: build
  script:
    - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin "$CI_REGISTRY"
    - docker build -t "$IMAGE_NAME" .
    - docker push "$IMAGE_NAME"
